<h1>SHOW DETAILS</h1>
<h2><%= @task.title %></h2>
<h3>DETAILS | <%= @task.details %></h3>
<h3>STATUS  | <%= @task.completed? ? "Completed" : "Unncompleted" %></h3>

<%= link_to "Back list", tasks_path %>
<%= link_to "Edit Task", edit_task_path(@task) %>
